.idea
node_modules
.clinic
.DS_Store

dist/*
!dist/test/
dist/test/*
!dist/test/parser/
dist/test/parser/*
!dist/test/parser/__snapshots__/

!dist/test/commands/
dist/test/commands/*
!dist/test/commands/__snapshots__/

./resources/output.json
